
@{
    ViewBag.Title = "ActiveSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Thanh Toán</h2>
        </div>
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Thanh Toán</span>
    </div>
</nav>
<div class="alert alert-success">Gửi Thành Công Vui Lòng Đợi Trong Giây Lát</div>

