
@{
    ViewBag.Title = "CourseNoRelease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Khóa Học</h2>
        </div>
        <a href="/">Trang Chủ</a> » <span class="breadcrumb_last" aria-current="page">Khóa học</span>
    </div>
</nav>
<div class="alert alert-warning">Khóa học đang chờ được phát hành.</div>

