@model List<Model.EF.Category>

<aside class="posts p-4">

    <h3 class="aside-title nav-bar">Chủ Đề</h3>
    <ul class="category">
        @foreach (var item in Model.Where(x=>x.ParentsID!=null))
        {
            var link = "/chu-de/" + item.MetaTitle + "-" + item.ID;
            <li class="dropdown">
                <a href="@link"><span class="fa fa-angle-right"></span>@item.Name </a>
            </li>
        }
    </ul>
</aside>
