
<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row footer-border">
                    <div class="col-lg-3 col-md-5 column pr-md-0">
                        <h1><a href="/" class="footer-brand-logo"><span class="fa fa-pencil-square-o"></span> CMEDUCATION</a></h1>
                        <p>Ðừng nên cố trở thành một người thành công mà hãy gắng trở thành một người có giá trị.</p>
                        <ul class="mt-4 contact">
                            <li>
                                <p><span class="fa fa-phone" aria-hidden="true"></span> <a href="tel:+84921278802">+84921278802</a></p>
                            </li>
                            <li>
                                <p><span class="fa fa-clock-o" aria-hidden="true"></span> @DateTime.Now</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-5 column pl-md-5 mt-md-0 mt-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.887065136814!2d106.86907761462435!3d10.971896292189069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174ddc96130888d%3A0xb9eeb8795621191d!2zR2nDoW8gWOG7qSBCYSDEkMO0bmc!5e0!3m2!1svi!2s!4v1646296701910!5m2!1svi!2s" width="300" height="210" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 column mt-md-0 mt-5">
                        <h3>Trang</h3>
                        <ul class="footer-gd-16">
                            <li><a href="/">Trang Chủ</a></li>
                            <li><a href="/chu-de">Chủ Đề</a></li>
                            <li><a href="/khoa-hoc">Khóa Học</a></li>
                            <li><a href="/blog">Blog</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 column mt-md-0 mt-5">
                        <h3>Liên Kết Hữu Ích</h3>
                        <ul class="footer-gd-16">
                            <li><a href="#why">Học Với Chúng Tôi?</a></li>
                            <li><a href="#subject">Chủ Đề Nổi Bật</a></li>
                            <li><a href="#find">Tìm Kiếm</a></li>
                            <li><a href="#popular">Khóa Học Nổi Bật</a></li>
                            <li><a href="#new">Khóa Học Mới</a></li>
                        </ul>
                    </div>
                </div>
                <div class="below-section pt-4 mt-5 text-center">
                    <div class="columns-2">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/CM-Eduaction-104737215503680"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/12_xiqee/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/caomihquan"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="columns mt-3">
                        <p>
                            &copy; 2020 Literate. All rights reserved | Design by <a href="https://w3layouts.com/">W3Layouts</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
        </script>
        <!-- //move top -->
        <script>
                $(function () {
                    $('.navbar-toggler').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });
        </script>
    </section>
    <!-- //footer -->
</footer>
