
@{
    ViewBag.Title = "SuccessEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Quên Mật Khẩu</h2>
        </div>
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Quên Mật Khẩu</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- contact-form -->

<div class="alert alert-success">Gửi Thành Công. Vui Lòng Check Email Của Bạn</div>

